/* MainPage.css */
.base {
    width: 100%;
    height: 100vh;
  }
  
  .slider-object {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .green-box {
    background-color: lightgreen;
  }
  
  .grey-box {
    background-color: grey;
  }
  
  .orange-box {
    background-color: orange;
  }
  