/* NewSection.css */
.new-section {
    background-color: #000000;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden; /* overflow hidden 추가 */
  }
  
  .info-text {
    color: white;
    font-size: 3em;
    background: linear-gradient(90deg, transparent, white 50%, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    transition: background-position 0.5s, color 0.5s; /* 텍스트 애니메이션 */
  }
  
  .info-text.fully-visible {
    background-position: 100% 0; /* 배경이 오른쪽으로 이동 */
    color: white; /* 글씨 완전히 밝게 */
  }
  