.app {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    display: flex;
    margin-top: 20px;
  }
  
  .right-content {
    display: flex;
    flex-direction: column;
    width: 100%; 
    align-items: center; 
  }
  
  
  