/* styles.css */

/* BackgroundColor 컴포넌트 스타일 */
.backgroundColor {
    background-color: #000000;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  /* CenterWrapper 컴포넌트 스타일 */
  .centerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 90%;
    margin-bottom: 150px;
  }
  
  /* RightWrapper, LeftWrapper 컴포넌트 스타일 */
  .rightWrapper, .leftWrapper {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* LeftTextArea 컴포넌트 스타일 */
  .leftTextArea {
    font-size: 90px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* TextFont 컴포넌트 스타일 */
  .textFont {
    color: yellow;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
  }
  
  /* TextFont_2 컴포넌트 스타일 */
  .textFont_2 {
    color: white;
    font-size: 90px;
  }
  