.user-info {
  background-color: #6caffc;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin: 20px;
  width: 50rem; 
  max-width: 100%; 
}

.user-info-section {
  margin-bottom: 10px;
}

.user-info-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.user-info-content {
  color: #666;
}


@media (max-width: 768px) {
  .user-info {
    width: auto; 
    margin: 20px 10px; 
  }
}
