/* index.css 또는 App.css 파일 */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 가로 스크롤바를 숨깁니다 */
  height: 100%;
}

#root {
  height: 100%;
  overflow: hidden; /* 루트 요소의 스크롤을 숨깁니다 */
}

body {
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1;
  overflow: auto;
}
