@font-face {
  font-family: "Fontspring-DEMO-integralcf-extrabold";
  font-weight: normal;
  src: url("./fonts/Fontspring-DEMO-integralcf-extrabold.otf")
    format("truetype");
}

body {
  margin: 0;
  font-family: "Fontspring-DEMO-integralcf-extrabold";
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
