.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  width: 100%;
  max-width: 1200px;
}

.filter-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.category-filter {
  display: flex;
}

.category-button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  transition: background-color 0.3s, color 0.3s;
}

.category-button.active {
  background-color: #ff7f50;
  color: white;
}

.category-button:hover {
  background-color: #ff7f50;
  color: white;
}

.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.search-container input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.write-button {
  background-color: #00bcd4; /* 버튼 배경색을 이미지와 동일하게 설정 */
  border: none;
  border-radius: 20px; /* 테두리 둥글게 설정 */
  padding: 10px 20px;
  color: white;
  font-size: 16px; /* 폰트 크기 설정 */
  font-weight: bold; /* 폰트 굵기 설정 */
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px 0;
}

.write-button:hover {
  background-color: #0097a7; /* 호버 시 배경색 변경 */
}

